.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #d8ecf1;
}

a, a:link, a:visited, a:hover, a:focus, a:active{
  color:white;
  text-decoration: none;
}
